@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
/* font-family: 'Poppins', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
/* font-family: 'PT Sans Narrow', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/* roboto */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* open sans */
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    list-style: none;
    text-decoration: none;
    
}

body {
    width: 100%;
}

h1, h2{
    font-family: 'Poppins', sans-serif;
}
button {
    font-family: 'PT Sans Narrow', sans-serif;
}
span, li {
    font-family: 'Open Sans', sans-serif;
}